#!/bin/bash
{% if zun_docker_prune_images %}
# Clear dangling images from Docker
docker image prune -f
# Clear old images from Zun cache directory
find /var/cache/zun -amin +1440 -type f -exec rm -fv {} \;
{% endif %}
